*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.root{
    min-height: 60px;
    background: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    margin: 20px;
    color: aliceblue;
    text-decoration: none;
}