/* width:"40px",height:"40px",color:"white",background:"blue",borderRadius:"50%" */
.navlink{
    display: flex;
}

.navlink div{
    color: black;
    cursor: pointer;
    padding: 10px 20px;
    background: #00000010;
    margin: 5px;
    border-radius: 20px;
}

.navlink div:hover{
    color: blue;
}

.bg-nav{
    background: #ffffff;
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 0px 2%;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.logoFace{
    display: flex;
    cursor: pointer;
    color: blue;
    font-size: 35px;
}

.btn-input{
    width: 220px;
    height: 40px;
    display: grid;
    align-items: center;
    padding: 0px 20px;
    border-radius: 20px;
    background: #F0F2F5;
    margin: 0px 30px;
}

.btn-input input{
    border: none;
    background: none;
    outline: none;
}

.mainIcon i{
    color: grey;
    font-size: 25px;
    cursor: pointer;
    padding: 15px 30px;
    transition: all 0.3s;
}

.mainIcon i:first-child{
    color: blue;
    border-bottom: 4px solid blue;
}

.mainIcon i:hover{
    background: #0000000f;
    border-radius: 10px;
}

.navlink img{
    margin-top: 5px;
}